---
import { IconBrandInstagram, IconBrandYoutube } from "@tabler/icons-react";
import IconBeatportBrand from "@/components/icons/IconBeatport.astro";
import Logo from "@/components/icons/Logo.astro";

const socialLinks = [
  {
    name: "Instagram",
    href: "https://www.instagram.com/ytnkrecords/",
    icon: IconBrandInstagram,
  },
  {
    name: "Youtube",
    href: "https://www.youtube.com/ytnkrecords",
    icon: IconBrandYoutube,
  },
  {
    name: "Beatport",
    href: "https://www.beatport.com/label/ytnk/170546",
    icon: IconBeatportBrand,
  },
];

const navItems = [
  { name: "Artists", href: "/artists" },
  { name: "Releases", href: "/releases" },
  { name: "Contact", href: "/contact" },
];
---

<header
  class="fixed top-0 w-full z-50 bg-background-dark/80 backdrop-blur-md border-b border-primary/20"
>
  <div class="max-w-7xl mx-auto px-6 h-20 flex items-center justify-between">
    <a href="/" class="flex items-center gap-3 group cursor-pointer">
      <Logo size="md" />
    </a>

    <nav class="hidden md:flex items-center gap-10">
      {
        navItems.map((item) => (
          <a
            class="text-sm font-medium tracking-widest uppercase hover:text-primary transition-colors"
            href={item.href}
          >
            {item.name}
          </a>
        ))
      }
    </nav>

    <div class="flex items-center gap-4">
      {
        socialLinks.map((link) => {
          const Icon = link.icon;
          return (
            <a
              href={link.href}
              class="text-sm font-medium tracking-widest uppercase hover:text-primary transition-colors"
              target="_blank"
            >
              <Icon />
            </a>
          );
        })
      }
    </div>
  </div>
</header>
